* {
    box-sizing: border-box;
}

html {
    font-size: $fontSize;
    font-family: $fontFamilyPrimary;
}

.section {
    padding: 8.1rem 0 8.2rem 0;

    &__main-title {
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        text-align: center;
        margin-bottom: 2.4rem;
    }

    &__text {
        font-family: $fontFamilyPrimarySecond;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        max-width: 770px;
        margin: 0 auto;
        text-align: center;
    }

    &__refine {
        @extend %list;
        @include flex (center, center);
        flex-wrap: wrap;
        margin: 4rem auto 0 auto;

        &-item {
            color: #8c8c8c;
            border-radius: 3px;
            margin-bottom: .5rem;
            transition: all .3s ease;

            &:first-child {
                background-color: #998675;
                color: #ffffff;
            }

            &:not(:first-child) {
                margin-left: 1rem;
            }

            &:hover:not(:first-child) {
                background-color: #99867573;
            }
        }

        &-link {
            @extend %link;
            display: block;
            font-family: $fontFamilyPrimarySecond;
            font-size: 1.4rem;
            line-height: 2.1rem;
            font-weight: 300;
            padding: 0.55rem 2rem;
            min-width: 7rem;
            text-align: center;
        }
    }

    &__works {
        margin-top: 4rem;
    }

    &__load {
        @extend %link;
        @include flex (center, center);
        max-width: 170px;
        height: 50px;
        width: 100%;
        font-size: 1.4rem;
        line-height: 2.3rem;
        font-weight: 800;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #998675;
        box-shadow: inset 0px 3px 0px 0px #736357;
        border-radius: 3px;
        transition: opacity .3s ease;
        margin: 1rem auto 0 auto;

        &:hover {
            opacity: .8;
        }
    }
}
